@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');
* { box-sizing: border-box; }

body { margin: 0px; padding: 0px;  background-color: black;}
* {scroll-behavior: smooth; cursor: url("cursor.png"), default !important;}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: darkorange;
    text-decoration: none;
}


h1 {
    margin-bottom: 50px;
}
h1, h2, h3, h4{
    font-family: Staatliches, sans-serif;
    color: orange;
}
h2 {
    color: white;
}
h4 {
    color: white;
}
h5, h6 {
    font-family: Montserrat, sans-serif;
}
/* nadpisywanie wartosci bootstrapa*/
.bg-dark { background-color: #050505 !important;}






.navbar { padding-left: 3%; padding-top: 2%; padding-bottom: 2%; }
.nav-link {
    font-family: Staatliches; 
    color: white;
    font-size: 120%;
}
.logo {margin-left: 0%; }
.navbar-nav {margin-left: 3% !important;}
.nav {}

.f {
    /* margin-top: 7.5%; */
    width: 100%;
    height: 85%;
    background-color: black;
    background-image: url("aniołki\ czarliego\ III.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 20%;
    padding-top: 10%;
    border-bottom: 3rem solid black;
}

.g {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: none;


}


.media {
    border-radius: 0px;
    margin: 0px auto;
    
    /*background-color: rgba(200, 150, 190, 0.4);*/
    background-color: transparent;
}
.media h1 {
    margin: 0px auto;
    margin-bottom: 100px;
    height: 300px;
    color: white;
    /*background-color: rgba(50, 150, 190, 0.4);*/
}
.media .icons  {
    /*background-color: rgba(200, 14, 190, 0.4);*/

}
/*================================================*/



/* BIOGRAFIA */
.biografia {
    background-color: #222;
    padding: 10% 14% 10% 14%;
    text-align: justify;
    background-color: black;
    background-image: url("logotyp.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  .biografia img {
  
  }



/* DYSKOGRAFIA */
.dyskografia {
    background-color: black;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    /*text-align: center;*/
    text-align: justify;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10%; /* Added */
    border: none;
    background-color: #111;
    /*box-shadow: 0px 0px 5px #DDD;*/
    
}
.card-body {
    padding: 10%;
}
.card-img-top { transition: 0.2s; width: 21rem; }

.card:hover > .card-img-top {
    opacity: 0.8;
    transition: 0.2s;
}
/* =========================== */




/* WIDEO */
.wideo {
    padding: 10% 10% 10% 10%;
    background-color: black;
}


.video-card {
    width: auto !important;
}

.clip {
    width: 100%;
    height: 11.3rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
}



/* PARTNERZY */
.partnerzy {
    padding: 10% 10% 10% 10%;
    background-color: black;
    background-image: url("logotyp.png");
    background-size: 50%;
    background-position: center;
    background-blend-mode: difference;
    background-repeat: no-repeat;
    color: white;
    /*text-align: center;*/
}
.partnerzy ul {list-style: none;}
.partnerzy h1 {margin-bottom: 3%;}
.partnerzy li {display: inline; margin: 3%;}
.partnerzy li a {color: white; text-decoration: none;}
.partnerzy li a img { width: 100px; padding-bottom: 50px; }




/* KONTAKT */
.kontakt {
    padding: 10% 10% 10% 10%;
    background-color: black;
    color: white;
}
.kontakt h1 {margin-bottom: 3%;}






/* PRZYJACIELE */
.przyjaciele {
    padding: 10% 10% 10% 10%;
    background-color: black;
    background-image: url("seams.jpg");
    background-position: center;
    color: white;
    text-align: center;
}
.przyjaciele ul {list-style: none; }
.przyjaciele h1 {margin-bottom: 3%; }
.przyjaciele li { display: inline; margin: 3%; }
.przyjaciele li a {color: white; text-decoration: none; white-space: nowrap; text-align: center;}
.przyjaciele li a img { width: 100px; }






/* STOPKA */
.footer {
    border-radius: 0px;
    background-color: black;
    margin: 0px;
}
.footer p {
    color: #EEE;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
    text-justify: center;
    text-align: center;
}
/* =========================== */



/* ========================================= */
/* ==== MEDIA QUERIES ====================== */
/* ========================================= */
@media (max-width: 1048px) {
    h1 {text-align: center;}
}
/* ========================================= */
/* ========================================= */
/* ========================================= */




/* NAWIGACJA */
.navbar {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.3s ease-out;
    background: #000000 !important;
    /* NON-IE */
    padding-top: 30px !important;
    padding-bottom: 25px !important;
  }

.navbar .logo {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
  
  .navbar.scrolled {
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    background: #444444 !important;
    /* IE */
    background: #0e0e0e !important;
    /* NON-IE */
  }
  
  .navbar.scrolled .logo {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;


    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }