@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
h1 {
  color: white;
  margin-left: 3vh;
  font-size: 5vw;
  font-family: Oswald, sans-serif;
}

h1 i {
  margin-left: 16vh;
  font-weight: 100;
  color: #1a8ed1;
  font-size: 3vw;
}

button::-moz-focus-inner {
  /* zeby nie bylo na przyciskach kropkowanej granicy*/
  border: 0;
}

.control-panel {
  margin: none;
  background-color: #414141;
  padding: 3px;
  height: 100vh;
  overflow-y: auto;
  visibility: visible;
}

.control-panel h2 {
  margin: none;
  font-family: sans-serif;
  font-size: 17px;
  margin-left: 10px;
}

.btn {
  display: block;
  margin: 10px;
  background-color: #535353;
  border: none;
  padding: 20px;
  width: 160px;
  font-size: 13x;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 3%;
}

.btn:hover {
  background-color: #1a8ed1;
  border: 5px solid #1a8ed1;
  color: white;
}

.btn:active {
  background-color: white;
  color: #1a8ed1;
}

body {
  overflow: hidden;
  margin: 0px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: sans-serif;
}

label {
  position: relative;
  font-family: sans-serif;
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.space {
  background-color: black;
  background-image: url("stars.jpg");
  background-repeat: no-repeat;
  background-size: 130%;
  height: 100vh;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space > div {
  position: fixed;
  border-radius: 100%;
}

.planet {
  font-family: sans-serif;
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.orbit {
  -webkit-animation-name: circular-move;
          animation-name: circular-move;
  -webkit-animation-duration: 160s;
          animation-duration: 160s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: solid 8px #666;
}

@-webkit-keyframes circular-move {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circular-move {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#sun {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: darkorange;
  -webkit-box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.3);
          box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.3);
  /* border: 2px solid chartreuse;
    border-radius: 0%; */
}

#Merkury {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8px;
  height: 8px;
  background-color: red;
  -webkit-box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.2);
  /* border: 2px solid chartreuse;
    border-radius: 0%; */
}

#Wenus {
  position: absolute;
  width: 14px;
  height: 10px;
  background-color: darkorange;
  -webkit-box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.2);
  /* border: 2px solid chartreuse;
    border-radius: 0%; */
}

#Ziemia {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: lightblue;
  -webkit-box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset -30px -30px 30px rgba(0, 0, 0, 0.2);
  /* border: 2px solid chartreuse;
    border-radius: 0%; */
}

#parametry {
  background-color: #777;
  width: 17%;
}

@media (max-width: 980px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .space {
    margin-top: 4vh;
    margin-bottom: 4vh;
    position: relative;
    width: 100vw;
    height: 100vw;
    background-color: black;
  }
  .space .planet {
    font-size: 1.7vh;
    color: white;
  }
  .space .orbit {
    -webkit-animation: none;
            animation: none;
    border-color: #222;
    position: absolute;
  }
  .control-panel {
    position: relative;
    padding: 1vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-left: 2.2vh;
    width: 100vw;
    height: auto;
    background-color: #111;
  }
  .control-panel button {
    display: inline;
    width: 30vw;
    height: 30vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1.6vh;
    border-radius: 0%;
    border: 10px solid #222;
    background-color: #222;
    margin: none;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .control-panel button:active {
    color: #1a8ed1;
    background-color: black;
    border: 30px solid white;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  #parametry {
    padding-left: 3vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    position: relative;
    background-color: #222;
    width: 100vw;
    height: auto;
    font-size: 4vw;
    font-family: Oswald, sans-serif;
  }
  #parametry text {
    position: absolute;
    right: 10vh;
    color: #1a8ed1;
  }
  #parametry .unit {
    position: absolute;
    right: 8vh;
    color: white;
  }
  #parametry #ms {
    right: 7vh;
  }
  #parametry #timetravelbutton {
    color: white;
    border: none;
    border: 4px solid white;
    text-decoration: none;
    background-color: #222;
    width: 30vw;
    height: 10vw;
    font-family: Oswald, sans-serif;
    font-size: 4vw;
    margin-top: 1vh;
    -webkit-transition: 250ms;
    transition: 250ms;
    outline: none;
  }
  #parametry #timetravelbutton:active {
    -webkit-transition: 250ms;
    transition: 250ms;
    background-color: black;
    border-color: #1a8ed1;
    color: #1a8ed1;
  }
}
/*# sourceMappingURL=style.css.map */