.box-container {width: 100%; height: auto; background-color: #222;
    display: flex;
    margin: auto;   
    flex-wrap: wrap;
    justify-content: center;

    padding: 10vh;
    padding-top: 15vh;


}
.show-more {padding: 0px; margin: auto; width: 90vw;
    margin-top:20vh;
    text-align: center;
    margin-bottom:10vh;
}
.box { background-color: black; width: 25vw; height: 25vw; margin: 1vw;
    display: inline-block;
    position: relative;
    background-image: url("g.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 200ms;
    /* border-radius: 10%;*/
    
    }
.box .caption {
    transition: 300ms;

    width: 60%;
    height: 20%;
    background-color: black;
    margin: auto;
    margin-top: 40%;
    padding-top: 6%;
}
.box .caption h3 {
    transition: 300ms;

    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.box:before {
content: ' ';
position: absolute;
z-index: -1;
   width: 100%; height: 100%;
   -webkit-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*border-radius: 10%;*/
}
.box:hover:before {
    transform: scale(1.04);
    
}

.box:hover {
    transform: scale(1);

}
.box:hover > .caption {
    transition: 300ms;
    background-color: white;
    
}
.box:hover > .caption h3 {
    transition: 300ms;

    color: black;
}

.box:first-child:before { background-image: url("a.jpg") !important;}
.box:nth-child(2):before { background-image: url("b.jpg") !important;}
.box:nth-child(3):before { background-image: url("c.jpg") !important;}
.box:nth-child(4):before { background-image: url("d.jpg") !important;}
.box:nth-child(5):before { background-image: url("e.jpg") !important;}
.box:nth-child(6):before { background-image: url("f.jpg") !important;}